<!DOCTYPE html>
<html>
<head>
    <title>Edit Welcome Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit Welcome Message</h1>
        <p>Put (member) anywhere in the message for the bot to ping the member</p>
        <form class="welcome-form" method="POST" action="{{ url_for('save_welcome_message', guild_id=guild_id) }}">
            <label for="message">Welcome Message:</label><br>
            <textarea name="message" id="message" rows="5" cols="50"></textarea><br>
            <label for="channel">Channel:</label><br>
            <select name="channel" id="channel">
                {% for channel in channels %}
                <option value="{{ channel.id }}">{{ channel.name }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>
